
IntroductionToProgrammingInCpp/.vs/IntroductionToProgrammingInCpp/v16/.suo
IntroductionToProgrammingInCpp/.vs/IntroductionToProgrammingInCpp/v16/Browse.VC.db
IntroductionToProgrammingInCpp/.vs/IntroductionToProgrammingInCpp/v16/Browse.VC.db-shm
IntroductionToProgrammingInCpp/.vs/IntroductionToProgrammingInCpp/v16/Browse.VC.db-wal
IntroductionToProgrammingInCpp/.vs/IntroductionToProgrammingInCpp/v16/Browse.VC.opendb
IntroductionToProgrammingInCpp/.vs/IntroductionToProgrammingInCpp/v16/ipch/AutoPCH/2d5f7fcdde031de2/PRINTFOR.ipch
IntroductionToProgrammingInCpp/.vs/IntroductionToProgrammingInCpp/v16/ipch/AutoPCH/331057fb0c4130ec/PRINTNUMS.ipch
IntroductionToProgrammingInCpp/.vs/IntroductionToProgrammingInCpp/v16/ipch/AutoPCH/375e5028c4f0ebe8/DIGITSUM.ipch
IntroductionToProgrammingInCpp/.vs/IntroductionToProgrammingInCpp/v16/ipch/AutoPCH/83964e7589fa573e/GRADEAVERAGE.ipch
IntroductionToProgrammingInCpp/.vs/IntroductionToProgrammingInCpp/v16/ipch/AutoPCH/9e61caa05858959e/AVERAGEFOR.ipch
IntroductionToProgrammingInCpp/.vs/IntroductionToProgrammingInCpp/v16/ipch/AutoPCH/9fcdabe47750ae80/PRINTWHILE.ipch
IntroductionToProgrammingInCpp/.vs/IntroductionToProgrammingInCpp/v16/ipch/AutoPCH/bec008584d1ecaf9/ABSOLUTEVALUE.ipch
IntroductionToProgrammingInCpp/.vs/IntroductionToProgrammingInCpp/v16/ipch/AutoPCH/f3864ef35ba74fac/HELLOWORLD.ipch
IntroductionToProgrammingInCpp/.vs/IntroductionToProgrammingInCpp/v16/ipch/AutoPCH/ffd2367eca8c4304/AVERAGEWHILE.ipch
IntroductionToProgrammingInCpp/.vs/ProjectSettings.json
IntroductionToProgrammingInCpp/.vs/slnx.sqlite
IntroductionToProgrammingInCpp/.vs/VSWorkspaceState.json
*.ipch
*.json
*.db
AdvancedProgrammingInCpp/.vs/AdvancedProgrammingInCpp/v16/.suo
*.sqlite
/AdvancedProgrammingInCpp/.vs/AdvancedProgrammingInCpp/v16
